.app__about {
    text-align: center;
    background: var(--about-gradient);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5rem 0;

    
    .about-us {
        color: var(--secondary-color);
        text-transform: uppercase;
        font-size: 17px;
    }
    .title {
        color: var(--white-color);
        font-size: 48px;
        margin-top: 18px;
        letter-spacing: 0.05em;
        line-height: 60px;

        text-transform: uppercase;
    }
}

.app__about-desc-container {
    margin-top: 14px;

    .desc {
        padding: 0 10rem;
        color: var(--white-color);
        text-transform: capitalize;
        line-height: 40px;
        letter-spacing: 0.04em;
    }
}