.app__banner {
	position: relative;
	height: 100vh;
}
.app__banner-img {
	img {
		height: 100vh;
		width: 100%;
	}
}

.app__banner-banner-text {
	position: absolute;
	top: 27rem;
	left: 5rem;

	span {
		color: var(--white-color);
		font-family: var(--font-saira);
		font-size: 46px;
	}
	h3 {
		color: var(--secondary-light-color);
		font-size: 56px;
		font-weight: 600;
		letter-spacing: 0.05em;
		line-height: 70px;
	}
	p {
		color: var(--white-color);
		font-size: 18px;
		font-weight: 300;
		margin-bottom: 48px;
		margin-top: 14px;
		line-height: 25px;
	}
	button {
		border: none;
		outline: none;
		background: linear-gradient(90deg, #FFFFFF 0%, #F1F2F4 100%);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 80px;
		width: 206px;
		height: 48px;

		font-family: var(--font-poppins);
		font-size: 18px;
		font-weight: bold;
		color: var(--btn-text-color);
		letter-spacing: 0.7px;
		text-transform: uppercase;

		cursor: pointer;
	}
}