.app__mission {
	background: var(--primary-color);
	padding: 5rem;
	height: 718px;
	margin-bottom: 304px;
}

.app__mission-title {
	text-align: center;

	p {
		letter-spacing: 0.04em;
		font-size: 18px;
		font-weight: 500;
		line-height: 25px;
		color: #373736;
	}

	h3 {
		color: var(--black-100-color);
		font-size: 48px;
		letter-spacing: 0.05em;
    line-height: 60px;
    margin-top: 18px;
	}	
}

.app__mission-card {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-top: 7rem;
}